<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal text-primary">S.T.E.G</h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="/">Accueil</a>
		<a class="p-2 text-dark" href="/projet/">Projet</a>
		<a class="p-2 text-dark" href="/entreprise/">Entreprise</a>
		<a class="p-2 text-dark" href="/profil/">Profil</a>
	</nav>
	<a class="btn btn-outline-primary" href="/login">
		<i class="fas fa-sign-out-alt"></i>
		Se déconnecter</a>
</div>
